html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  max-width: 1000px;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  padding: 20px;
  margin: 10px auto;
  background-image: url(/src/images/dolars.jpeg);
}
